
  .label {
      -fx-text-fill: rgba(255,255,255,0.8);
      -fx-font-size: 13px;
      -fx-font-weight: 600;
  }

.button {
    -fx-background-color: linear-gradient(to bottom, #7C3AED, #5B21B6);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 999;   /* pill shape */
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0, 0, 2);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #9F67FF, #7C3AED);
}

.button:pressed {
    -fx-translate-y: 1;
    -fx-background-color: linear-gradient(to bottom, #5B21B6, #3B0B64);
}

.hyperlink {
    -fx-text-fill: #C084FC;
    -fx-font-size: 13px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
}

.hyperlink:hover {
    -fx-underline: true;
    -fx-text-fill: #A855F7;
}

.hyperlink:pressed {
    -fx-underline: true;
    -fx-text-fill: #8102F7;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255,255,255,0.6);
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-background-radius: 6;
    -fx-padding: 6 10 6 10;
}

.text-field:focused {
    -fx-border-color: #7C3AED;
    -fx-effect: dropshadow(gaussian, rgba(124,58,237,0.45), 8, 0.2, 0, 0);
}



.inback {
    -fx-background-color: linear-gradient(to bottom,#2B0B3A, #0F0821);
    -fx-background-radius: 18;
    -fx-border-color: rgba(255,255,255,1.14);
    -fx-border-radius: 18;
    -fx-border-width: 1;
    -fx-padding: 24;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.45), 24, 0.2, 0, 8);
}

.outback {
    -fx-background-color: linear-gradient(to bottom, #0F0821, #2B0B3A);
}


  .title {
      -fx-font-size: 22px;
      -fx-font-weight: 700;
      -fx-text-fill: linear-gradient(to right, #9F67FF, #7C3AED);
  }

.glow {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.35), 10, 0.3, 0, 0);
}

  .back-button {
      -fx-background-color: transparent;
      -fx-text-fill: #B8B9C2;
      -fx-font-size: 13px;
      -fx-cursor: hand;
      -fx-padding: 4 6;
  }

  .back-button:hover {
      -fx-text-fill: white;
  }
